

.catalog{
  padding: 50px 0 100px;
  display: flex;
  gap: 20px;
  position: relative;
  &__{



    &title{
      text-align: center;
      margin-bottom: 30px;
    }
    &main{
      display: flex;
    }
    &sidebar{
      border: 1px solid black;
      width: 30%;
      height: fit-content;
      padding: 15px;
      max-width: 298px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #343a40;
      border-radius: 0.37rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &-select{
        display: block;
      }
      &-trigger{
        font-size: 30px;
        text-align: center;
        padding: 5px 0;
        width: 40px;
        height: 40px;
        background: rgba(217, 217, 217, 0.7);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        position: absolute;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
      }
      &-burger{
        opacity: 0;
        position: absolute;
        cursor: pointer;
        width: 20px;
        height: 3px;
        top: 45%;
        background-color: $black;
        margin:  1px  auto;
        border-radius: 2px;
        z-index: 10;
        &:before, &:after{
          content: '';
          transition: all .4s;
          width: 100%;
          height: 3px;
          background-color: $black;
          position: absolute;
          border-radius: 2px;
        }
        &:before{
          bottom: -6px;
        }
        &:after{
          top: -6px;
        }
      }
      &-option{
        padding: 30px;
        background-color: red;
        display: flex;
        height: 30px;

      }
      &-navigate{
        margin-bottom: 45px;
      }
      &-select{
        flex-grow: 1;
        width: 100%;
      }
      &-reset{
        width: 100%;
        background-color: transparent;
        height: 40px;
        border-radius: .35rem;
        font-size: 15px;
        cursor: pointer;
        &:hover{
          background-color: $black;
          color: white;
        }
      }
      &-found{
        cursor: pointer;
        margin-top: 20px;
        background-color: $black;
        color: white;
        width: calc(100% + 31px);
        position: sticky;
        bottom: 15px;
        transform: translate(-15px, 15px);
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        &_count{
          background-color: #fff;
          color: $black;
          padding: 0 9px;
          margin-left: 5px;
          font-weight: bold;
          border-radius: 10px;
        }
      }
      &-text{
        cursor: pointer;
        &:focus{
          //outline: none;

        }
      }
      &-text.active{
        color: lightslategray;
        text-shadow: 1px 2px 2px lightskyblue;
      }
      &-types{
        margin-bottom: 40px;
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        gap: 10px;
      }
      &-categories{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        //flex-wrap: wrap;
        //max-height: 300px;
      }
      &-category{
        cursor: pointer;
        width: fit-content;
        display: flex;
        gap: 8px;
        & label{
          cursor: pointer;
        }
        &_box{
          width: 20px;
          height: 20px;
        }
      }

    }
    &productCard{
      width: calc(32% - 5px);
      &__title{
        margin-bottom: 30px;
      }
      &-loader{
      }
    }
    &list{
      display: flex;
      width: 80%;

      flex-direction: column;
      &-products{
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 100%;
      }

      &-top{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
        gap: 30px;
      }
      &-paginate{
        width: 100%;
        text-align: center;
        align-self: flex-end;
        margin-top: auto;
        &More{
          padding: 7px 13px;
          height: 40px;
          background-color: $black;
          color: white;
          border-radius: .43rem;
          cursor: pointer;
        }
        &Btn{
          padding: 7px 11px;
          height: 40px;
          background-color: white;
          border: 1px solid #dee2e6;
          cursor: pointer;
          &:hover, &.active{
            background-color: $black;
            color: white;
            transition: all .3s;
          }
        }
        &Btns{
          margin: 15px auto 0;
          border: 1px solid #dee2e6;
          width: fit-content;
          border-radius: .43rem;
          overflow: hidden;
        }
      }
    }


  }


}

.demo-simple-select{
  //color: red;
  max-height: 300px;
}
@media (max-width: 950px) {
  .catalog{
    &__{
      &sidebar{
        position: absolute;
        z-index: 1;
        transform: translateX(-100%);
        opacity: 0;
        //width: 0;
        transition: all .5s;
        &.active{
          padding: 20px;
          background: rgba(250,250,250,.95);
          transform: translateX(0%);
          width: 35%;
          opacity: 1;
        }
        &-reset{
          background-color: #fff;
        }
        &-trigger{
          display: block;
          &.active{
            font-size: 0;
            border-radius: 80px;
            transition: all .3s;
            transition: 0ms font-size;
          }
        }
        &-burger{
          &.active{
            background-color: transparent;
            opacity: 1;
          }
          &.active.catalog__sidebar-burger:after{
            top: 0;
            transform: rotate(-45deg);
          }
          &.active.catalog__sidebar-burger:before{
            top: 0;
            transform: rotate(45deg);
          }
        }
      }
      &list{
        width: 100%;
      }

    }
  }
}
@media (max-width: 700px) {
  .catalog{
    &__productCard{
      width: calc(50% - 12px);
    }
    &__sidebar{
      min-width: 260px;
    }
  }
}
@media (max-width: 450px) {
  .catalog{
    &__productCard{
      width: calc(90% - 12px);
      margin: 0 auto;
    }
    &__sidebar{
      min-width: 260px;
    }
  }
}