.categoryCard{
  position: relative;
  height: 250px;
  width: calc(33% - 12px);
  border-radius: 0.37rem;
  overflow: hidden;
  cursor: pointer;
  border: none;
  text-align: left;
  &:focus &__bg{
    transform: scale(1.1);
    transition: all .4s;
  }
 &__{

   &bg{
     height: 100%;
     &:hover{
       transform: scale(1.1);
       transition: all .4s;
     }
   }
   &bottom{
     position: absolute;
     bottom: 0;
     left: 0;
     color: white;
     right: -10px;
     padding: 30px 20px 15px ;
     border-radius: 0 0 0.37rem 0.37rem;
     background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
   }

 }
}