.header{
  padding: 30px 0;
}
.header{
  display: flex;
  align-items: center;

  &__{

    &contacts {
      margin:  0 50px 0 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &number {
      color: $black;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      margin: 10px 0 5px;
    }
    &mail {
      font-family: "Open Sans", sans-serif;
      color: $grey;
    }

    &label{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 35%;
      position: relative;
      z-index: 10;
      &-popup{
        position: absolute;
        top: 30px;
        background-color: #fff;
        border: 1px solid #ced4da;
        width: 84%;
        left: 8%;
        border-radius: 0.37rem;
        opacity: 0;
        pointer-events: auto;
        transition: all .4s;
        //transform: translateY(-10vh);
      }
      &-list{
        &Item{
          padding: 0.3rem 0.85rem;
          cursor: pointer;
        }
        &Item:hover{
          background-color: $black;
          color: white;
        }
      }
      &-input{
        padding: 0.45rem 0.85rem;
        border-radius: 0.37rem;
        border: 1px solid #ced4da;
        flex: 1 1 auto;
        max-width: 84%;
        margin: 0 auto;
        z-index: 30;
        &:focus+.header__label{
          background-color: #f00;
          &-popup{
            display: block;
            //transform: translateY(0);
            opacity: 1;
          }
         &-listItem{
           pointer-events: none;
         }
        }

      }

      &-btn{
        background-color: $black;
        position: absolute;
        right: 0;
        height: 100%;
        cursor: pointer;
        padding: 0.45rem 0.85rem;
        border-radius:0 0.37rem  0.37rem 0;
        z-index: 31;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

      }

    }



    &btn{
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 25px;
      &-favorites, &-cart{
        &.shake {
          animation: shakeCart .4s ease-in-out forwards;
        }
      }
      &-text{

      }
      &-title{
        font-size: 80%;
        font-family: $Open;
        color: #969696 !important;
        line-height: 1.2;
      }
      &-num{
        font-family: $Open;
        line-height: 1.2;
        color: $black;
      }
      & svg{
        opacity: .4;
        height: 25px;
        width: 25px;
      }
      &:hover.header__btn svg{
        background-color: #fff;
        opacity: 1!important;
      }
    }


    &menu{
      background-color: #f7f7f7 !important;
      margin-bottom: 30px;
      position: sticky;
      top: 0;
      z-index: 9;
      &-nav{
        display: flex;
        gap: 30px;
        justify-content: center;
        color: $black;
      }
      &-link{
        font-family: "Open Sans", sans-serif;
        padding: 15px 0;
        font-weight: 600;
        cursor: pointer;
        &.more::after{
          display: inline-block;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: "";
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
        &:hover{
          color: rgba(0, 0, 0, .6);
        }
      }
    }
    &submenu{
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .4);
      background-color: #fff;
      font-weight: 400;
      color: $black;

      &-link{
        padding: 0.7rem 1.5rem;
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 10rem;
        background-color: #fff;
        justify-content: space-between;
        cursor: pointer;
        &:hover{
          background-color: #e4e4e4;
        }
        &.more::before {
          position: absolute;
          right: 0;
        }
      }
      &-categories{
        position: absolute;
        top: 0;
        right: 1px;
        font-weight: 400;
        min-height: 100%;
        max-height: 380px;
        display: flex;
        flex-direction: column;
        //width: auto;
        flex-wrap: wrap;
        transform: translateX(100%);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
        background-color: #fff;
      }

    }



  }
}

@media (max-width: 1120px) {
  .header{
    &__contacts{
      margin:  0 30px 0 50px;

    }
  }
}
@media (max-width: 860px) {
  .header{
    justify-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
    &__contacts{
      margin-right: 0;
      width: 40%;
    }

  }
}
//@media (max-width: 716px) {
//
//}




@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
  }
}

@keyframes shakeCart {
  25% {
    transform:translateX(6px)
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}

