.header{
  padding: 30px 0;
  z-index: 12;
  &__sidebar-burger{
    cursor: pointer;
    //display: none;
    width: 20px;
    height: 3px;
    background-color: $black;
    position: absolute;
    border-radius: 2px;
    z-index: 10;
    &:before, &:after{
      content: '';
      transition: all .4s;
      width: 100%;
      height: 3px;
      background-color: $black;
      position: absolute;
      border-radius: 2px;
    }
    &:before{
      bottom: -6px;
    }
    &:after{
      top: -6px;
    }
  }
}
.header{
  display: flex;
  align-items: center;

  &__{

    &contacts {
      margin:  0 50px 0 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &number {
      color: $black;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      margin: 10px 0 5px;
    }
    &mail {
      font-family: "Open Sans", sans-serif;
      color: $grey;
    }

    &label{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 35%;
      position: relative;
      z-index: 10;
      &-popup{
        position: absolute;
        top: 30px;
        background-color: #fff;
        border: 1px solid #ced4da;
        width: 84%;
        left: 8%;
        border-radius: 0.37rem;
        opacity: 0;
        pointer-events: auto;
        transition: all .4s;
        //transform: translateY(-10vh);
      }
      &-list{
        &Item{
          padding: 0.3rem 0.85rem;
          cursor: pointer;
        }
        &Item:hover{
          background-color: $black;
          color: white;
        }
      }
      &-input{
        padding: 0.45rem 0.85rem;
        border-radius: 0.37rem;
        border: 1px solid #ced4da;
        flex: 1 1 auto;
        max-width: 84%;
        margin: 0 auto;
        z-index: 30;
        &:focus+.header__label{
          background-color: #f00;
          &-popup{
            display: block;
            //transform: translateY(0);
            opacity: 1;
          }
         &-listItem{
           pointer-events: none;
         }
        }

      }

      &-btn{
        background-color: $black;
        position: absolute;
        right: 0;
        height: 100%;
        cursor: pointer;
        padding: 0.45rem 0.85rem;
        border-radius:0 0.37rem  0.37rem 0;
        z-index: 31;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

      }

    }



    &btn{
      display: flex;
      gap: 10px;
      align-items: center;
      padding-left: 25px;
      position: relative;
      &-favorites, &-cart{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &.shake {
          animation: shakeCart .4s ease-in-out forwards;
        }
        &:before {
          content:attr(data-totalitems);
          background: #2bd156;
          font-size:14px;
          font-weight:700;
          position:absolute;
          top:-22px;
          right:-16px;
          line-height:24px;
          padding:0 5px;
          height:24px;
          min-width:24px;
          color: white;
          text-align:center;
          border-radius:24px;
        }
      }
      &-text{

      }
      &-title{
        font-size: 80%;
        font-family: $Open;
        color: #969696 !important;
        line-height: 1.2;
      }
      &-num{
        font-family: $Open;
        line-height: 1.2;
        color: $black;
      }
      & svg{
        opacity: .4;
        height: 25px;
        width: 25px;
      }
      &:hover.header__btn svg{
        background-color: #fff;
        opacity: 1!important;
      }
      &:hover .header__btn-favorites::before, &:hover .header__btn-cart::before{
        color: white;
        font-weight: 500;
        font-size: 12px;
      }
    }


    &menu{
      background-color: #f7f7f7 !important;
      position: sticky;
      top: 0;
      z-index: 11;
      &-burger{

        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: #D9D9D970;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
      }
      &-nav{
        display: flex;
        gap: 30px;
        justify-content: center;
        color: $black;
        height: auto;
        &.hidden{
         height: 40px;
          //background-color: #f00;
         overflow: hidden;
         transition: all 4s;
        }
      }
      &-link{
        position: relative;
        font-family: "Open Sans", sans-serif;
        padding: 15px 0;
        font-weight: 600;
        cursor: pointer;
        &.more::after{
          display: inline-block;
          margin-left: .255em;
          vertical-align: 0.255em;
          content: "";
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
        &.more:hover:after{
          transition: .9s;
          transform: rotateX(180deg);
        }
        &:hover{
          color: rgba(0, 0, 0, .6);
        }
      }
    }
    &submenu{
      position: absolute;
      bottom: 0;
      left: -30px;
      transform: translateY(100%);
      flex-direction: column;
      gap: 10px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .4);
      background-color: #fff;
      font-weight: 400;
      color: $black;

      &-link{
        padding: 0.7rem 1.5rem;
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 10rem;
        background-color: #fff;
        justify-content: space-between;
        cursor: pointer;
        &:hover{
          background-color: #e4e4e4;
          padding-right: 8px;
          transition: all .3s;
        }
        &.more::before {
          position: absolute;
          right: 900px;
        }
      }
      &-categories{
        position: absolute;
        top: 0;
        right: 1px;
        font-weight: 400;
        min-height: 100%;
        max-height: 380px;
        display: flex;
        flex-direction: column;
        //width: auto;
        flex-wrap: wrap;
        transform: translateX(100%);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
        background-color: #fff;
      }
      &-drop{
        position: absolute;
        top: 0;
        right: 1px;
        font-weight: 400;
        min-height: 100%;
        display: grid;
        grid-template-rows: 50px ;
        //max-height: 60vh;
        grid-template-columns: 200px 200px;
        transform: translateX(100%);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
        background-color: #fff;
      }

    }



  }
}

@media (max-width: 1120px) {
  .header{
    &__contacts{
      margin:  0 30px 0 50px;

    }
  }
}
@media (max-width: 860px) {
  .header{
    justify-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
    &__contacts{
      margin-right: 0;
      width: 40%;
    }

  }
}
@media (max-width: 700px) {
  .header{
    &__contacts{
      display: none;
    }
    &__label{
      width: 70%;
    }
  }
}
@media (max-width: 560px) {
  .header{
    &__btn-text{
      display: none;
    }
    .logo{
      width: 40px;
    }
    &__label{
      margin-left: auto;
    }
  }
}
@media (max-width: 500px) {
  .header{
    &__submenu{
      z-index: 1;
      width: 100%;
      &-link{
        //position: relative;
      }
      &-drop{
        top: 45px;
        transform: translateX(2%);
      }
    }
   &__menu{
       &-nav{
         flex-direction: column;
       }
       &-link{
         position: relative;
       }
     &-burger{
       display: flex;
     }
   }
  }
}


