.home{
&__{

  &slider{
    & .slide{
      height: 400px;
      max-height: 35vw;
      color: white;
      position: relative;
      &1{
        background-color: #6B7379;
      }
      &2{
        background-color: #283C43;
      }
      &2{
        background-color: #283C43;
      }
      &__wrapper{
        padding: 0 10px;
        display: flex;
        height: 400px;
        max-height: 35vw;
        align-items: center;
      }
      &__image{
        transform: translateX(-10%);
        height: 100%;
        max-height: 35vw;
        position: absolute;
        left: auto;
        //transform: translateX(-300px);
        top: 0;
        z-index: 1;
      }
      &__caption{
        padding: 0 60px;
        position: relative;
        z-index: 30;
        text-shadow: 1px 1px 2px #222222;
        &-title{
          font-weight: bold;
          font-size: 34px;
          font-family: $Open;
          line-height: 1.5;
        }
        &-text{
          font-weight: bold;
          font-size: 22.5px;
          font-family: $Open;
          line-height: 1.5;
          margin-bottom: 14px;
        }
        &-btn{
          padding: 6px 20px;
          font-size: 17px;
          font-family: $Open;
          border: none;
          cursor: pointer;
          background-color: $black;
        }
      }
    }
  }
  &productCard{
    width: calc(25% - 15px);
  }

  &category{
    padding: 40px 0 ;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }
  &cardBlock{
    padding: 0 0 70px ;

    &-row{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    &-title{
      margin-bottom: 15px;
      font-size: 26px;
      font-family: $Open;
      font-weight: bold;
      color: $black;
      line-height: 1.3;
    }
    &-subtitle{
      font-size: 15px;
      color: $grey;
      font-weight: 400;
      line-height: 1.5;
      cursor: pointer;
    }
  }

  &salesStimulus{
    display: flex;
    justify-content: space-around;
    margin: 0 -15px;
    flex-wrap: wrap;
    gap: 20px;
    &-block{
      max-width: 220px;
      display: inline-block;
    }
  }


}
}

