.productCard{
  width: calc(25% - 15px);
  border-radius: 0.37rem;
  padding: 15px;
  position: relative;
  &.slide{
    width: 100%;
    margin: 1px 0 60px;
    &:hover{
      box-shadow: none;
    }
  }
  &.favorites{
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &:hover{
    box-shadow: 0 4px 25px rgba(153, 153, 153, .4);
    transition: all .6s;
  }
  &__{

    &like{
      position: absolute;
      display: flex;
      width: fit-content;
      justify-content: flex-end;
      //width: 90%;
      right: 15px;
      transition: all .2s;
      cursor: pointer;
      opacity: .4;
      &:hover{
        opacity: 1;
      }
    }
    &img{
      width: 100%;
    }
    &title{
      padding-top: 8px;
      height: 51px;
      font-size: 15px;
      font-family: $Open;
      line-height: 1.5;
      color: $black;
    }
    &bot{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-family: $Open;
      font-size: 1rem;
      color: $black;
      font-weight: 600;
    }
    &price{
      font-family: $Open;
      font-size: 1rem;
      color: $black;
      font-weight: 600;
    }
    &btn{
      display: flex;
      align-items: center;
      gap: 5px;
      background: transparent;
      padding: 0.35rem 0.5rem;
      font-size: 0.82rem;
      border-radius: 0.37rem;
      cursor: pointer;
      &:hover{
        background-color: $black;
        color: white;
        transition: all .1s;
      }
    }



  }
}