.product{
  font-family: $Open;

  &__{

    &top{
      display: flex;
      margin-bottom: 60px;
      &-image{
        width: 100%;
      }
      &-loading{
        width: 100%;
        height: 350px;
        //background-color: #999;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 55px;
        font-weight: bold;
      }
      &-imgPlace{
        width: 100%;
        min-height: 350px;
      }
      &-images{
        min-width: 40%;
      }
      &-gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        &-block{
          display: inline-block;
          width: 70px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }

      &-variables{
        padding: 0 35px 30px;
      }
      &-link{
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        color: $grey;
        &-back{
          color: $black;
          &:hover{
            color: #ff9017;
          }
        }
      }
      &-title{
        font-size: 30px;
        line-height: 1.3;
        font-weight: bold;
        margin-bottom: 8px;
      }
      &-price{
        font-size: 22px;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 7px;
      }
      &-comment{
        font-size: 12px;
        color: $grey;
        margin-bottom: 7px;
        line-height: 1.5;
      }
      &-text{
        font-size: 1rem;
        line-height: 1.5;
        color: #343a40;
        font-weight: 400;
        margin-bottom: 30px;
      }
      &-sizes{
        &Text{
          font-size: 13px;
          line-height: 1.3;
          font-weight: bold;
          color: $black;
          margin-bottom: 4px;
        }
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 20px;
      }
      &-size{
        background-color: transparent;
        font-size: 12px;
        min-width: 80px;
        font-weight: 400;
        padding: 0.35rem 0.5rem;
        border-radius: 0.37rem;
        line-height: 1.2;
        &:hover{
          background-color: $black;
          color: white;
        }
        &.active{
          background-color: $black;
          color: white;
        }

      }
      &-pick{
        display: flex;
        height: 48px;
        align-items: center;
        &Num{
          height: 100%;
          margin-right: 15px;
          border-radius: 0.45rem;
          display: flex;
        }
        &Btn{
          height: 100%;
          background-color: transparent;
          padding: 9px 15px;
          font-size: 19px;
          border: 1px solid #e4e4e4;
          &.left:active,&.right:active{
            background-color: #e4e4e4;
            transition: all .2s;
          }
          &.left:focus,&.right:focus{
            border: 1px solid #969696;
          }
          &.left{
            border-radius: 0.45rem 0 0 0.45rem;
          }
          &.right{
            border-radius: 0 0.45rem 0.45rem 0;
          }
        }
        &Input{
          width: 75px;
          text-align: center;
          height: 100%;
          padding: 9px 15px;
          font-size: 19px;
          border: 1px solid #e4e4e4;
        }
        &Fav{
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          opacity: .3;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
        }
        &Add{
          height: 100%;
          margin-right: 5px;
          color: white;
          background-color: $black;
          padding: 9px 15px;
          font-size: 19px;
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          border-radius: 0.45rem;
          //&:hover{
          //  background-color: #fff;
          //  color: $black;
          //}
          &:active{
            transform: scale(.9);
            transition: all .2s;
          }
        }
      }
      &-return{
        margin-bottom: 10px;
        background-color: #f7f7f7;
        width: fit-content;
        font-size: 15px;
        padding: 3px 4px;
        border-radius: 7px;
        font-weight: 600;
        line-height: 1.5;
        color: #343a40;

      }
    }



  }
}