@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
@import "enhancers";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  resize: none;
  color: inherit;
  //transition: all .1s;
}
body{
  position: relative;
  font-family: $Open;
  scroll-behavior: smooth;

}
input:focus{
  outline: 2px solid lightskyblue ;
}
.logo{
  cursor: pointer;
}
.container{
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.swiper-button-next,
.swiper-button-prev {
  //background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right:10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(490vw - 155px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-180vh + 75px));
  }
}

@keyframes shakeCart {
  25% {
    transform:translateX(6px)
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}



@import "header";
@import "footer";
@import "home";
@import "categoryCard";
@import "productCard";
@import "productPage";
@import "catalog";
@import "clothesAdd";
@import "basket";
@import "favorites";
@import "order";