@import "enhancers";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  resize: none;
  color: inherit;
  //transition: all .1s;
}
body{
  position: relative;
}
input:focus{
  outline: 2px solid lightskyblue ;
}
.logo{
  cursor: pointer;
}
.container{
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}







@import "header";
@import "footer";
@import "home";
@import "categoryCard";
@import "productCard";
@import "productPage";
@import "catalog";